@font-face{
    src: url("../fonts/Rowdies-Bold.ttf");
    font-family: rowdies;
}
*{
    font-family: rowdies;
}
body{
    background-color: #567E7E;
}
.principal{
 position: absolute;
 left: 27%;
}
