.footer{
    position: absolute;
    bottom: 1em;
    left: 4em;
   
}
pre{

}
.footer pre{
    display: flex;
    gap: 1em;
}
.icono_git{
    position: relative;
    right: 5px;
    cursor: pointer;
}
.icono_twi{
    position: relative;
    cursor: pointer;
}
.img{
    width: 2.5em;
}