.centro{
    display: grid;
    grid-template-columns: 30px 300px 30px;
    grid-template-rows: 30px 300px;
    position: absolute;
    top: 0%;
    left: 28%;
}
.helper_izq{
    grid-row: 2;
    grid-column: 1;
    
    
}
.div_izq{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43%;
    left: 50%;
    width: 100%;
    max-width: 90px;
    
}
.div_izq span{
    padding: 5.8px;
    letter-spacing: 5px;
    display: flex;
    justify-content: flex-end;
    

}

.helper_top{
    grid-row: 1;
    grid-column: 2;
    white-space: pre;
    text-overflow: none;
    text-align: center;
}
.div_top{
    display: flex;
    flex-direction: row;
    gap: 2px;
    position: absolute;
    top: 13%;
    left: 80%;
    height: 100%;
    width: 100%;
    max-height: 90px;
    max-width: 300px;
   
}

.div_top span{
    display: flex;
    align-items: flex-end;
    width:  30px;

    
}
.grilla{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    top: 3.5em;
    left: 36%;
}
.btn_borrar{
    position: relative;
    top: 36em;
    left: 31em;
}
.btn_nuevo{
    position: relative;
    top: 36em;
    left: 32em;
}
