.centro{
    display: grid;
    grid-template-columns: 30px 300px 30px;
    grid-template-rows: 30px 300px;
}
.helper_izq{
    grid-row: 2;
    grid-column: 1;
    
}
.div_izq{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 37.5%;
    width: 100%;
    max-width: 90px;
    
}
.div_izq span{
    padding: 7px;
    letter-spacing: 5px;
    display: flex;
    justify-content: flex-end;
    

}

.helper_top{
    grid-row: 1;
    grid-column: 2;
    white-space: pre;
}
.div_top{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13px;
    left: 42.7%;
    height: 100%;
    width: 100%;
    max-height: 90px;
    max-width: 280px;
    
}

.div_top span{
    padding-left: 6px;
    padding-right: 6px ;
    margin-left: 5px;
    margin-right: 5px;
    initial-letter-align: inherit;
    display: flex;
    align-items: flex-end;
    
}
.grilla{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    top: 56px;
    left: 36%;
}
.btn_borrar{
    position: absolute;
    top: 50%;
    left: 45%;
}
.btn_nuevo{
    position: absolute;
    top: 50%;
    left: 50%;
}